.weather-app {
  max-width: 700px;
  display: block;
  margin: 30px auto;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #83cee0;
  font-family: "Lora", serif;
  background-image: url("../images/img-clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  padding: 15px;
  padding-left: 40px;
}

h4 {
  text-align: center;
}

form {
  padding-left: 40px;
}
li {
  list-style: none;
  font-size: 20px;

  position: relative;
  right: 55px;
  top: 20px;
}

#month-day,
#week-day,
#hour {
  font-size: 25px;
  text-align: center;
}

.temperature-forecast {
  padding: 15px;
}
#current-infos {
  padding-left: 30px;
}

#current-img,
#temperature {
  font-size: 50px;
  line-height: 9px;
}
#description {
  font-size: 20px;
  padding-top: -5px;
  text-transform: capitalize;
}
.units {
  position: relative;
  top: -15px;
}

#my-link {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
}
#current-infos .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
