.weather-app {
  background-image: url("../images/img-clouds.jpg");
  max-width: 700px;
  display: block;
  margin: 30px auto;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #83cee0;
  font-family: "Lora", serif;
}

h1 {
  padding: 15px;
  padding-left: 40px;
}

h4 {
  color: #878787;
  text-align: center;
}

form {
  padding-left: 40px;
}
li {
  list-style: none;
  font-size: 20px;

  position: relative;
  right: 55px;
  top: -25px;
}
#month-day,
#week-day,
#hour {
  font-size: 25px;
  color: #878787;
  text-align: center;
}

.temperature-forecast {
  padding: 15px;
}
#current-infos {
  padding-left: 40px;
}
#current-img,
#temperature {
  font-size: 45px;
  line-height: 9px;
}
#description {
  font-size: 20px;
  padding-top: 10px;
  text-transform: capitalize;
}
#units {
  position: relative;
  top: -15px;
}

#end-info {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 15px;
}
